services:
  client:
    image: docker.io/jathavaan/tba4250-gib-2-client:latest
    ports:
      - "80:80"
    depends_on:
      - server

  server:
    image: docker.io/jathavaan/tba4250-gib-2-server:latest
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: docker.io/postgis/postgis:16-3.4
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: