services:
  client:
    image: jathavaan/tba4250-gib-2-client:latest
    ports:
      - "80:80"
    depends_on:
      - server

  server:
    image: jathavaan/tba4250-gib-2-server:latest
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "6000:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: